{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Password reset complete" %}{% endblock %}

{% block content %}
{% block body_class %}login-page{% endblock %}
<div class="login-box">
    {% block logo %}
    <div class="login-logo">
        {# Mirrors block names used in _main_header.html #}
        <a href="{% block logo_href %}/{% endblock %}">{% block logo_text %}<b>Presta</b>Autos{% endblock %}</a>
    </div>
    {% endblock %}
    <!-- /.login-logo -->
    <div class="login-box-body">
        <p>
            {% trans "Your password has been reset!" %}
            {% blocktrans %}You may now <a href="{{ login_url }}">log in</a>{% endblocktrans %}.
        
        </p>

    </div>
</div>

{% endblock %}
{# This is used by django.contrib.auth #}
