{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Change password" %}{% endblock %}
{% block body_class %}login-page{% endblock %}
{% block body %}

    <div class="login-box">
        {% block logo %}
        <div class="login-logo">
            {# Mirrors block names used in _main_header.html #}
            <a href="{% block logo_href %}/{% endblock %}">{% block logo_text %}<b>Presta</b>Autos{% endblock %}</a>
            <span class="label label-default">Restablecer Contraseña</span>
            
        </div>
        {% endblock %}
        <!-- /.login-logo -->
        <div class="login-box-body">
                <p class="text-justify ">¿Olvidaste tu contraseña?, ingresa tu dirección de correo electrónico asociado para restablecerla de nuevo </p>
{% block login_form %}

<form method="post" action="">
    {% csrf_token %}
    
    <div class="form-group has-feedback">
        <label   for="emailtarget">{% trans 'Ingresa tu dirección de correo'%}</label>
        <input name="email" id="emailtarget" class="form-control" placeholder="{% trans 'email' %}">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>

    </div>

    <input type="submit" class="btn btn-primary btn-block btn-flat" value="{% trans 'Change password' %}" />

</form>
{% endblock login_form %}
        </div>
</div>
{% endblock %}


{# This is used by django.contrib.auth #}
